.custom-shape-divider-bottom-1703143555 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703143555 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 118px;
}

.custom-shape-divider-bottom-1703143555 .shape-fill {
    fill: #FFFFFF;
}