.container {
    background: rgb(218, 245, 225);
    background: linear-gradient(
        90deg,
        rgba(218, 245, 225, 1) 0%,
        rgba(177, 239, 231, 1) 48%,
        rgba(0, 212, 255, 1) 91%
    );
    width: 100%;
    height: 100vb;
}

.button1 {
    width: 160px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.button1:hover {
    opacity: 1;
}
